# Cache Flutter et Dart
.dart_tool/
.packages
.pub-cache/
.pub/

# Dossiers de build (Très lourds, on veut que Docker compile lui-même)
build/

# Plateformes inutiles pour la version Web
android/
ios/
linux/
macos/
windows/

# IDE et fichiers systèmes
.idea/
.vscode/
*.iml
.DS_Store

# Logs et Firebase
firepit-log.txt
firebase-debug.log